# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/Skills/styled.js
src/Skills/MySkills.js
.gitignore
src/Skills/index.js
src/Portfolio/index.js
src/Skills/index.js
src/Skills/index.js
src/Footer/styled.js
src/Portfolio/index.js
src/Skills/styled.js
src/Skills/MySkills.js
